<!DOCTYPE html>
<!-- Author: Bob Liang-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

    <title>Not Found</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js" ></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="error-template">
            <h1>Oops!</h1>
            <h2>404 Not Found</h2>
            <div class="error-details">
              Sorry, we couldn't find the route you were looking for!
            </div>
            <div class="error-actions">
              <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Take Me Home </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzzB9_p9ZN8n6fsSA7-56804zsu7OV-i0">
    </script>
    <script src="/js/bundle.js"></script>
  </body>
</html>
