<!DOCTYPE html>
<!-- Author: Bob Liang-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sweet Spots Profile</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js" ></script>
    <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

    <!-- Bootstrap -->
    <link href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div id="content">
      <div id="profile" user_id="<%= user_id %>"></div>
    </div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
