<!DOCTYPE html>
<!-- Author: Nishchal Bhandari-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sweet Spots</title>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js" ></script>
    <style>
    </style>
    <!-- Bootstrap -->
    <link href="/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mogra" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Montserrat:700" rel="stylesheet">
  </head>
  <body>
    <div id="content" class="center text-font">
      <div id="spot" spot_id="<%= spot_id %>" ></div>
    </div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
